
/* Ocultar el menú por defecto */
#nav_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

/* Mostrar el menú cuando tenga la clase .show */
#nav_menu.show {
    display: block;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    color: black;
    padding: 10px;
    cursor: pointer;
}
